/.metadata/
HelloAndroid/app/src/main/res/layout/activity_main.xml
ViewPager2RecyclerViewAdapter/.idea/gradle.xml
ViewPager2RecyclerViewAdapter/.idea/misc.xml
ViewPager2RecyclerViewAdapter/.idea/misc.xml
ViewPager2RecyclerViewAdapter/.idea/misc.xml
ViewPager2RecyclerViewAdapter/.idea/misc.xml
